.flow-element {
    height: auto;
    width: calc(100% - 20px);
}

.new_page_con {
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 90vw;
}