.flow-element {
    height: auto;
    width: calc(100% - 20px);
}

.new_page_con {
    background-color: rgb(45, 48, 73);
    border: 1px solid #ddd;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 90vw;
    z-index: 9999;
    /* 保证悬浮元素在其他元素之上 */
    overflow: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 500vh;
    width: 500vw;
    background-color: rgb(0 0 0 / 76%);
    z-index: 9999;
    display: none;
}

.new_close {
    font-weight: bolder;
    line-height: 0px;
    font-size: x-large;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #DCB6FF;
    padding: 10px;
}