body {
    background-color: black;
    color: #ffffff;
}

hr {
    width: 100%;
}

button {
    font-size: xx-large;
    margin: 10px;
    border-radius: 10px;
    height: 10vh;
    width: 80%;
    color: white;
    font-weight: bold;
    background-color: #DCB6FF;
}

.new_solution,
.new_step,
.new_start,
.new_check,
.new_graph,
.resetDiv {
    background-color: rgb(138 150 225 / 28%);
    border: 1px solid #ddd;
    display: inline-block;
    margin: 10px;
    /* Add margin to create spacing between elements */
    text-align: center;
    border-radius: 10px;
    /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
    width: calc(46% - 20px);
    /* Ensure one element per row on mobile */
    box-sizing: border-box;
    /* Include padding in element width */
    min-height: 0;
    /* Ensure minimum height is not greater than width */
}

/* Media Query for iPhone and sm */
@media (max-width: 500px) {

    .new_solution,
    .new_step,
    .new_start,
    .new_check,
    .new_graph,
    .resetDiv {
        background-color: rgb(138 150 225 / 28%);
        border: 1px solid #ddd;
        display: inline-block;
        margin: 10px;
        /* Add margin to create spacing between elements */
        text-align: center;
        border-radius: 10px;
        /* Add rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        /* Add a subtle shadow */
        width: calc(100% - 20px);
        /* Ensure one element per row on mobile */
        box-sizing: border-box;
        /* Include padding in element width */
        min-height: 0;
        /* Ensure minimum height is not greater than width */
    }
}


.new_start {
    color: rgb(200, 200, 200);
    font-size: large;
    font-style: oblique;
}

.new_check {}

.new_check_label {
    margin: 0 auto;
    margin-top: 10px;
    font-size: xx-large;
    width: 80%;
    display: block;
}

.new_check_check {
    transform: scale(2.0);
    background-color: rgba(255, 255, 255, 0.249);
    margin-bottom: 2%;
    text-align: center;
    color: white;
    height: 25px;
    border-radius: 10px;
}